/* .input-check:checked + .check-text::before {
  background-color: #2196f3;
  border: none;
  background-image: url(../images/icons/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
} */
