.footer {
  max-width: 1600px;
  height: 252px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--secondary-color);

  .container {
    display: flex;
  }
}

.footer__logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color-two);
}

.footer__adress-text {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--logo-color-two);
}

.footer__adress-link {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--address-text-color);
}

.footer__item {
  margin-bottom: 20px;
}

.footer__social {
  margin-left: 70px;
}

.footer__social-join {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--logo-color-two);
}

.footer__subscribe {
  margin-left: 93px;
}

.footer__sub-field {
  display: flex;
  margin-top: 20px;
}

.footer__text {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--logo-color-two);
}

.footer__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 0px 15px 16px;
  background-color: var(--hero-color);
  color: var(--logo-color-two);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer__icon {
  fill: var(--logo-color-two);
}

.footer__btn {
  display: flex;
  width: 200px;
  height: 50px;
  align-items: center;
  text-align: center;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 13px;
  background-color: var(--logo-color-left);
  color: var(--logo-color-two);
}

.footer__soc-list {
  display: flex;
  justify-content: center;
}

.footer__soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--main-transition-time) var(--cubic),
    fill var(--main-transition-time) var(--cubic);

  &:hover {
    background-color: var(--logo-color-left);
  }

  &:hover .footer__soc-icon {
    fill: var(--logo-color-two);
  }
}

.footer__soc-item + .footer__soc-item {
  margin-left: 10px;
}

.footer__soc-icon {
  fill: var(--color-icon);
}

.footer__soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__logo-left {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  color: var(--logo-color-left);
}
