.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  padding: 40px;

  background: var(--logo-color-two);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--logo-color-two);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  &:hover .modal__close-icon {
    fill: var(--logo-color-left);
  }
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;

  color: var(--secondary-color);
}

.modal__field {
  margin-bottom: 10px;
}

.modal__input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding-left: 41px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: border-color var(--main-transition-time) var(--cubic);

  &:focus {
    border: 1px solid var(--logo-color-left);
  }

  &:focus + .modal__input-icon {
    fill: var(--logo-color-left);
  }
}

.modal__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--main-color);
}

.modal__comment {
  display: flex;
  flex-direction: column;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--main-color);
}

.modal__comment-text {
  resize: none;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--main-transition-time) var(--cubic);

  &:focus {
    border-color: var(--logo-color-left);
  }

  &:placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: var(--color-placeholder);
  }
}

.modal__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;

  color: var(--logo-color-two);
  background: var(--logo-color-left);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--main-transition-time) var(--cubic);

  &:hover,
  &:focus {
    background-color: var(--btn-hover-color);
  }
}

.modal__input-wrap {
  position: relative;
}

.modal__field-check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal__input-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: fill var(--main-transition-time) var(--cubic);
}

.modal__check-text {
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-color);
}

.modal__check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--secondary-color);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal__input-check:checked + & {
    background-color: #2196f3;
    border: none;
  }
}

.modal__check-icon {
  fill: transparent;
}

/* .check-text::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid var(--secondary-color);
  border-radius: 2px;
  margin-right: 8px;
} */

.modal__check-link {
  color: var(--logo-color-left);
  text-decoration: underline;
}

.modal__input-check:checked + .modal__check-text .modal__check-icon {
  fill: var(--logo-color-two);
}
