.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__btn-main {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin: 0 auto;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: var(--logo-color-left);
  color: var(--logo-color-two);
  transition: background-color var(--main-transition-time) var(--cubic);

  &:hover {
    background-color: var(--btn-hover-color);
  }
}

.portfolio__selection-btn {
  margin-bottom: 50px;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: 0;
}

.portfolio__item {
  display: flex;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-child(-n + 6) {
    margin-bottom: 30px;
  }
}

.portfolio__flex-element {
  width: 370px;
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  transition: box-shadow var(--main-transition-time) var(--cubic);

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .portfolio__overley {
    transform: translateY(0);
    opacity: 1;
  }
}

.portfolio__flex-item {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
}

.portfolio__btn {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.portfolio__btn-size:not(:last-child) {
  margin-right: 8px;
}

.portfolio__btn-size :not(:last-child) {
  margin-right: 8px;
}

.portfolio__btn-style {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  background: var(--section-team-color);
  border-radius: 4px;
  color: var(--secondary-color);
  transition: background-color var(--main-transition-time) var(--cubic),
    color var(--main-transition-time) var(--cubic);

  &:hover {
    background-color: var(--logo-color-left);
    color: var(--logo-color-two);
  }
}

.portfolio__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--secondary-color);
}

.portfolio__about {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--main-color);
}

.portfolio__img-block {
  display: block;
}

.portfolio__technokryak {
  position: relative;
  overflow: hidden;
}

.portfolio__overley {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--main-transition-time) var(--cubic);
}

.portfolio__overley-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  width: 322px;
  height: 168px;
  margin: 63px 24px 63px 24px;

  color: var(--logo-color-two);
}
