.section-clients__list {
  // display: flex;
  // margin-bottom: -30px;
  // @media screen and (min-width: 480px) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // }
}

.section-clients__item {
  width: calc(100% / 2 - 2 * 30px);
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--color-icon);
  margin: 15px;
  cursor: pointer;
  transition: fill var(--main-transition-time) var(--cubic),
    border-color var(--main-transition-time) var(--cubic);

  @media screen and (min-width: 768px) {
    width: calc(100% / 3 - 2 * 30px);
    // margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    // max-width: none;
    width: calc(100% / 6 - 30px);
  }

  // &:not(:last-child) {
  //   margin-right: 30px;
  // }

  &:hover {
    border-color: var(--logo-color-left);
    fill: var(--logo-color-left);
  }
}

.section-clients__title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 30px;

  @media screen and (min-width: 1120px) {
    font-size: 36px;
    margin-bottom: 50px;
  }

  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 0;
  color: var(--secondary-color);
}
