:root {
  --main-color: #757575;
  --secondary-color: #212121;
  --logo-color-one: #000000;
  --logo-color-two: #ffffff;
  --logo-color-left: #2196f3;
  --hero-color: #2f303a;
  --btn-hover-color: #188ce8;
  --address-text-color: rgba(255, 255, 255, 0.6);
  --section-team-color: #f5f4fa;
  --color-icon: #afb1b8;
  --color-placeholder: rgba(117, 117, 117, 0.5);
  --main-transition-time: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
